CREATE TABLE [DWSAP].[Delete_Log]
(
	[Source_Schema] [nvarchar](200) NULL,
	[Source_Table] [nvarchar](200) NULL,
	[Total_Count] [bigint] NULL,
	[Duplicate_Count] [bigint] NULL,
	[DeleteDatekey] [nvarchar](200) NULL,
	[PK_Column] [nvarchar](4000) NULL,
	[YearMonth] [int] NULL,
	[ExecuteDate] [date] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)