CREATE TABLE [DWSAP].[DeleteCount]
(
	[Source_Schema] [varchar](200) NULL,
	[Source_Table] [varchar](200) NULL,
	[Value] [nvarchar](4000) NULL,
	[Value1] [nvarchar](4000) NULL,
	[Value2] [nvarchar](4000) NULL,
	[Count] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)