CREATE TABLE [DWSAP].[FDL_duplicatecheck_Lookup]
(
	[Source_Schema] [nvarchar](100) NULL,
	[Source_Table] [nvarchar](100) NULL,
	[Column_Name] [nvarchar](4000) NULL,
	[DateKeyColumn] [nvarchar](100) NULL,
	[Value] [nvarchar](4000) NULL,
	[Value1] [nvarchar](4000) NULL,
	[Value2] [nvarchar](4000) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)