CREATE VIEW [TABSAP].[DimProfitCenter] AS SELECT S.[KOKRS] as [Controlling Area],
        S.[PRCTR] as [Profit Center],
              ST.[KTEXT]as [Profit Center Text],
        S.[DATBI] as [Valid To Date],
        S.[DATAB] as [Valid-From Date],
        [VERAK] as [Person Responsible],
        [WAERS] as [Currency Key],
        [VERAK_USER] as [User Responsible],
        [KHINR] as [Profit center area],
        [SEGMENT] as [Segment for Segmental Reporting],
        [ABTEI] as [Department],
              Case When cpc.ProfitCenterCode IS NOT NULL Then Hedgedunhedged
              when cpc.ProfitCenterCode IS NULL and [ABTEI] <> ' ' Then 'Hedged' else 'Unhedged' end as [Hedged/Unhedged],
        --COALESCE(cpc.Hedgedunhedged, CASE WHEN [ABTEI] <> ' ' then 'Hedged' else 'Unhedged' end ) as  [Hedged/Unhedged],
        CONCAT(S.PRCTR,',',S.KOKRS) AS PROFIT_CENTER_KEY,
              P.[Level 1]as [Level 1 S],
              P.[Level 2]as [Level 2 S],
              [SequenceNumber2] as [SEQNR2],
              P.[Level 3]as [Level 3 S],
              [SequenceNumber3] as [SEQNR3],
              P.[Level 4]as [Level 4 S],
              [SequenceNumber4] as [SEQNR4],
              P.[Level 5]as [Level 5 S],
              [SequenceNumber5] as [SEQNR5],
              P.[Level 6]as [Level 6 S],
              [SequenceNumber6] as [SEQNR6],
              P.[Level 7]as [Level 7 S],
              [SequenceNumber7] as [SEQNR7],
        A.[Level1] as [Level 1 A],
        A.[Level2] as [Level 2 A],
        A.[Level2Sort] as [Level2Sort],
        A.[Level3] as [Level 3 A],
        A.[Level3Sort] as [Level3Sort],
        A.[Level4] as [Level 4 A],
        A.[Level4Sort] as [Level4Sort],
        A.[Level5] as [Level 5 A],
        A.[Level5Sort] as [Level5Sort],
       A.[Level6] as [Level 6 A],
        A.[Level6Sort] as [Level6Sort],
        cpc.BusinessSegmentSubgroup,
        cpc.BusinessLine,
        cpc.GlobalRegionsExecutive,
        cpc.GlobalRegionsExternal,
        cpc.GlobalRegionsManagement,
        cpc.GlobalRegionsManagementSubgroup,
        cpc.BusinessSegment ,
        cpc.Markets,
        cpc.GlobalRegionsManufacturing 
        FROM [SrcSAP].[CEPC] S LEFT JOIN [SrcSAP].[CEPCT] ST
              ON S.PRCTR = ST.PRCTR AND S.KOKRS = ST.KOKRS 
              LEFT JOIN  [DWSAP].[StandardProfitCenterHierarchy_Table] P
        ON S.[PRCTR]= P.[Level 8]
        LEFT JOIN SrcSAPFile.AltProfitHier A
        ON REPLACE(LTRIM(REPLACE(P.[Level 8], '0', ' ')), ' ', '0') =  LTRIM(A.[ProfitCenter]) 
              AND S.[DATAB] <= CONVERT(varchar,getdate(),112)
           LEFT JOIN (select * from SrcSAPFile.CustomProfitCenter) cpc
              
              on cpc.ProfitCenterCode  = REPLACE(LTRIM(REPLACE(S.PRCTR, '0', ' ')), ' ', '0')
              --where profitcenterCode like '%Y%') cpc on CONCAT('00000',cpc.ProfitCenterCode)  = S.PRCTR
        --LEFT JOIN SrcSAPFile.CustomProfitCenter cpc on CONCAT('00000',cpc.ProfitCenterCode)  = S.PRCTR or cpc.profitcenterCode like'Y%'  -- added 'Y%'
        WHERE S.DATBI in ((SELECT MAX(DATBI) FROM [SrcSAP].[CEPC]),'20171102')    ---modified date
              --AND [PRCTR] like '%2017%'
              
    UNION

  SELECT SUBSTRING([OBJNR],13,4) [Controlling Area],
        SUBSTRING([OBJNR],3,10) as [Profit Center],
        cepct.[KTEXT] as [Profit Center Text],
              cmdt.[DATBI] as [Valid To Date],
        cmdt.[DATAB] as [Valid-From Date],
        cepc.[VERAK] as [Person Responsible],
        cepc.[WAERS] as [Currency Key],
        cepc.[VERAK_USER] as [User Responsible],
        cepc.[KHINR] as [Profit center area],
        cepc.[SEGMENT] as [Segment for Segmental Reporting],
        cepc.[ABTEI] as [Department],
        Case When cpct.ProfitCenterCode IS NOT NULL Then Hedgedunhedged
              when cpct.ProfitCenterCode IS NULL and [ABTEI] <> ' ' Then 'Hedged' else 'Unhedged' end as [Hedged/Unhedged],
              --COALESCE(cpct.Hedgedunhedged, CASE WHEN [ABTEI] <> ' ' then 'Hedged' else 'Unhedged' end ) as  [Hedged/Unhedged],
        CONCAT(SUBSTRING([OBJNR],3,10),',',SUBSTRING([OBJNR],13,4)) AS PROFIT_CENTER_KEY,
              P.[Level 1]as [Level 1 S],
              P.[Level 2]as [Level 2 S],
              [SequenceNumber2] as [SEQNR2],
              P.[Level 3]as [Level 3 S],
              [SequenceNumber3] as [SEQNR3],
              P.[Level 4]as [Level 4 S],
              [SequenceNumber4] as [SEQNR4],
              P.[Level 5]as [Level 5 S],
              [SequenceNumber5] as [SEQNR5],
              P.[Level 6]as [Level 6 S],
              [SequenceNumber6] as [SEQNR6],
              P.[Level 7]as [Level 7 S],
              [SequenceNumber7] as [SEQNR7],
        A.[Level1] as [Level 1 A],
        A.[Level2] as [Level 2 A],
        A.[Level2Sort] as [Level2Sort],
        A.[Level3] as [Level 3 A],
        A.[Level3Sort] as [Level3Sort],
        A.[Level4] as [Level 4 A],
        A.[Level4Sort] as [Level4Sort],
        A.[Level5] as [Level 5 A],
        A.[Level5Sort] as [Level5Sort],
        A.[Level6] as [Level 6 A],
        A.[Level6Sort] as [Level6Sort],
        cpct.BusinessSegmentSubgroup,
        cpct.BusinessLine,
        cpct.GlobalRegionsExecutive,
        cpct.GlobalRegionsExternal,
        cpct.GlobalRegionsManagement,
        cpct.GlobalRegionsManagementSubgroup,
        cpct.BusinessSegment,
        cpct.Markets,
        cpct.GlobalRegionsManufacturing 
        From [SrcSAP].[CMDT] cmdt
        LEFT JOIN [SrcSAP].[CEPC] cepc on SUBSTRING(cmdt.[OBJNR],3,10) = cepc.[PRCTR]
              LEFT JOIN [SrcSAP].[CEPCT] cepct on  SUBSTRING(cmdt.[OBJNR],3,10) = cepct.[PRCTR]
        LEFT JOIN  [DWSAP].[StandardProfitCenterHierarchy_Table] P 
        ON cepc.[PRCTR]= P.[Level 8]
        LEFT JOIN SrcSAPFile.AltProfitHier A 
        ON P.[Level 8] = CONCAT('000000', A.[ProfitCenter])
        LEFT JOIN SrcSAPFile.CustomProfitCenter cpct on SUBSTRING( SUBSTRING(cmdt.[OBJNR],3,10),7,4)  = CONCAT('0',cpct.ProfitCenterCode) 
        WHERE cmdt.DATBI IN (SELECT MAX(DATBI) FROM [SrcSAP].[CMDT])and cmdt.[DATAB] <= CONVERT(varchar,getdate(),112) 
              and cepc.[PRCTR] is  null

       /* JIRA - BI-10997*/ 
       UNION 
       
              SELECT ' ' as [Controlling Area],
        ' ' as [Profit Center],
              ' ' as [Profit Center Text],
        ' ' as [Valid To Date],
        ' ' as [Valid-From Date],
        ' ' as [Person Responsible],
        ' ' as [Currency Key],
        ' ' as [User Responsible],
        ' ' as [Profit center area],
        ' ' as [Segment for Segmental Reporting],
        ' ' as [Department],
        ' ' as  [Hedged/Unhedged],
         CONCAT(SUBSTRING([Level 3],3,10),',',[SequenceNumber2],[SequenceNumber3],[SequenceNumber4],[SequenceNumber5]) as PROFIT_CENTER_KEY,
              [Level 1]as [Level 1 S],
              [Level 2]as [Level 2 S],
              [SequenceNumber2] as [SEQNR2],
              [Level 3]as [Level 3 S],
              [SequenceNumber3] as [SEQNR3],
              [Level 4]as [Level 4 S],
              [SequenceNumber4] as [SEQNR4],
              [Level 5]as [Level 5 S],
              [SequenceNumber5] as [SEQNR5],
              [Level 6]as [Level 6 S],
              MAX([SequenceNumber6]) as [SEQNR6],
              [Level 7]as [Level 7 S],
              [SequenceNumber7] as [SEQNR7],
        ' '  as [Level 1 A],
        ' ' as [Level 2 A],
        NULL as [Level2Sort],
        ' ' as [Level 3 A],
        NULL as [Level3Sort],
        ' ' as [Level 4 A],
        NULL as [Level4Sort],
        ' ' as [Level 5 A],
        NULL as [Level5Sort],
        ' ' as [Level 6 A],
        NULL as [Level6Sort],
        ' ' as BusinessSegmentSubgroup,
        ' ' as BusinessLine,
        ' ' as GlobalRegionsExecutive,
        ' ' as GlobalRegionsExternal,
        ' ' as GlobalRegionsManagement,
        ' ' as GlobalRegionsManagementSubgroup,
        ' ' as BusinessSegment ,
        ' ' as Markets,
        ' ' as GlobalRegionsManufacturing 
        FROM [DWSAP].[StandardProfitCenterHierarchy_Table] 
        WHERE [Level 8] IS NULL
		Group By
		CONCAT(SUBSTRING([Level 3],3,10),',',[SequenceNumber2],[SequenceNumber3],[SequenceNumber4],[SequenceNumber5]),
		[Level 1],
		[Level 2],
		[SequenceNumber2],
		[Level 3],
		[SequenceNumber3],
		[Level 4],
		[SequenceNumber4],
		[Level 5],
		[SequenceNumber5],
		[Level 6],
		[Level 7],
		[SequenceNumber7]