-- TABSAP.DimProduct source

CREATE VIEW [TABSAP].[DimProduct]
AS 
SELECT [SrcSAP].[T179].[PRODH] as [Product hierarchy],
[SrcSAP].[T179T].[VTEXT] as [Product Hierarchy Desc],
cph.ProductCategory,
cph.ProductClassification,
cph.ProductGroup,
cph.ProductSegment,
cph.ProductSubGroup,
cph.BusinessSegment ,
[STUFE] as [Number of the level in the product hierarchy],
aph.[Level1] as [Level 1 A],
aph.[Level2] as [Level 2 A],
aph.[Level2Sort] as [Level2Sorted],
aph.[Level3] as [Level 3 A],
aph.[Level3Sort] as [Level3Sorted],
aph.[Level4] as [Level 4 A],
aph.[Level4Sort] as [Level4Sorted],
aph.[Level5] as [Level 5 A],
aph.[Level5Sort] as [Level5Sorted],
aph.[Level6] as [Level 6 A],
aph.[Level6Sort] as [Level6Sorted],
aph.[Level7] as [Level 7 A],
aph.[Level7Sort] as [Level7Sorted],
aph.[Level8] as [Level 8 A],
aph.[Level8Sort] as [Level8Sorted],
      sph .[Level 1] as [Level 1 S] ,sph .[Level 2]   as [Level 2 S]  ,sph .[Level 3]  as [Level 3 S]
      ,sph .[Level 4]  as [Level 4 S] ,sph .[Level 5]  as [Level 5 S] ,/*JIRA - 10969*/sph.[Level 6] as [Level 6 S],
      sph.[Level 2 S] as [Level2Sort], sph.[Level 3 S] as [Level3Sort], sph.[Level 4 S] as [Level4Sort],  sph.[Level 5 S] as [Level5Sort], 
      sph.[Level 6 S] as [Level6Sort]
      FROM [SrcSAP].[T179] LEFT JOIN [SrcSAPFile].[AltProdHier] aph
      ON [SrcSAP].[T179].[PRODH] = aph.[PRODHierarchy]
	  LEFT  JOIN [SrcSAP].[T179T]   on [SrcSAP].[T179T].[PRODH] = [SrcSAP].[T179].[PRODH]
	  LEFT JOIN  SrcSAPFile.CustomProductHierarchy cph on  [SrcSAP].[T179T].[PRODH] = cph.ProductCode
	  LEFT JOIN [DWSAP].[StandardProductHierarchie_Table] sph on sph .[Level 6 S]  = [SrcSAP].[T179].[PRODH]
	  WHERE [SrcSAP].[T179T].SPRAS = 'E'
	  
/*JIRA - BI-10997*/ 	  
UNION
	 
SELECT aph.PRODHierarchy as [Product hierarchy],
cph.ProductCode as [Product Hierarchy Desc],
cph.ProductCategory as ProductCategory,
cph.ProductClassification as ProductClassification,
cph.ProductGroup as ProductGroup,
cph.ProductSegment as ProductSegment,
cph.ProductSubGroup as ProductSubGroup,
cph.BusinessSegment as BusinessSegment ,
'' as [Number of the level in the product hierarchy],
aph.[Level1] as [Level 1 A],
aph.[Level2] as [Level 2 A],
aph.[Level2Sort] as [Level2Sorted],
aph.[Level3] as [Level 3 A],
aph.[Level3Sort] as [Level3Sorted],
aph.[Level4] as [Level 4 A],
aph.[Level4Sort] as [Level4Sorted],
aph.[Level5] as [Level 5 A],
aph.[Level5Sort] as [Level5Sorted],
aph.[Level6] as [Level 6 A],
aph.[Level6Sort] as [Level6Sorted],
aph.[Level7] as [Level 7 A],
aph.[Level7Sort] as [Level7Sorted],
aph.[Level8] as [Level 8 A],
aph.[Level8Sort] as [Level8Sorted],
/*JIRA - 11393*/
NULL as [Level 1 S],
NULL as [Level 2 S],
NULL as [Level 3 S],
NULL as [Level 4 S],
NULL as [Level 5 S],
NULL as [Level 6 S],
NULL as [Level2Sort],
NULL as [Level3Sort], 
NULL as [Level4Sort],  
NULL as [Level5Sort],  
NULL as [Level6Sort]
from [SrcSAPFile].[AltProdHier] aph
left join SrcSAPFile.CustomProductHierarchy cph on  aph.PRODHierarchy = cph.ProductCode
where 
PRODHierarchy like 'P_%' 
OR PRODH like '0H%'
OR PRODHierarchy = 'A1A1T1C2R102';